.custom-tabs .nav-link {
  color: blue;
  font-weight: bold; /* Change the color of inactive tab titles */
}

.custom-tabs .nav-link.active {
  color: red; /* Change the color of the active tab title */
}

.custom-tabs .nav-link:focus,
.custom-tabs .nav-link:hover {
  color: green; /* Change the color when hovering or focusing on a tab */
}
