.ovendetail_container {
  padding-top: 20px;
  display: flex;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 20px;
  margin: 0;
  width: 100%;
}
.table {
  width: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
.actionContainer {
  display: flex;
  text-align: center;
  justify-content: center;
}
.actionButton {
  cursor: pointer;
}
.quote {
  font-family: "Sansita Swashed", system-ui;
  padding-top: 10px;
}
