.container {
  padding-top: 20px;
  display: flex;
  border-radius: 20px;
  max-height: 500px;
  width: 65%;
  margin: 0;
}
.table {
  width: 100%;
  /* margin: auto; */
  text-align: center;
  vertical-align: middle;
}
.quote {
  font-family: "Sansita Swashed", system-ui;
}
