.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;   
    background-color: black;

}
.Logo{
    width: 100%;
    margin-bottom: 40px;
}
.btnContainer{
    margin-left: 35px;

}
.btn{
    color: white;
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    text-align: left;
}
.icon{
    display: inline-flex;
    /* align-items: center; */
    margin-right: 20px;
    margin-left: 20px;
    width: 30px;
}
.btn:hover{
background-color: rgb(102, 98, 98);
border-radius: 10px;

}