.list-order {
  /* Chiều cao cố định */
  overflow-y: auto; /* Cho phép cuộn dọc */
  scrollbar-width: none; /* Ẩn thanh cuộn cho Firefox */
  height: 350px;
}

.list-order::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn cho trình duyệt Webkit (Chrome, Safari) */
}
