.container {
  display: flex;
  margin-top: 80px;
}
.productInfor {
  display: inline-block;
  width: 35%;
  margin-left: 10%;
}
.imageContainer {
  margin-bottom: 10px;
}

#productImg {
  height: auto;
  width: auto;
}
.description {
  border: 1px solid rgb(187, 186, 186);
  border-radius: 10px;
  width: 350px;
  height: 250px;
  padding: 10px;
}
#txtDescription {
  width: 330px;
  height: 195px;
  overflow-y: scroll;
}
#txtDescription::-webkit-scrollbar {
  display: none;
}
.actionOnProduct {
  display: inline-block;
  width: 50%;
}
#txtName {
  font-weight: bold;
  font-size: 20px;
}
#txtPrice {
  font-weight: bolder;
  color: rgb(235, 149, 60);
  font-size: 32px;
  margin-bottom: 20px;
}
.prtAttributeContainer {
  display: flex;
  font-weight: 500;
}
.productAttribute {
  display: inline-block;
  padding-right: 120px;
  margin-bottom: 10px;
}
.topptingAttributeContainer {
  display: flex;
  width: 100%;
}
.topptingAttribute {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 25%;
}
.all {
  margin-left: 30px;
}
.separateLine {
  width: 65%;
  height: 2px;
  background-color: rgb(23, 24, 23);
}
#btnAddToCart {
  background-color: rgb(147, 60, 36);
  border-radius: 30px;
  height: 45px;
  width: 300px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-left: 100px;
  margin-top: 30px;
}
.quote {
  font-family: "Sansita Swashed", system-ui;
}
