.Footer {
  height: auto;
  background-image: url("https://marketplace.canva.com/EAFTQEWI-Ko/1/0/1600w/canva-black-sky-galaxy-stars-desktop-wallpaper-iWMZ0xN6KXs.jpg");
  margin-top: 50px; /* Push the footer to the bottom */
}

.Logo {
  margin-top: -35px;
  width: 180px;
  /* margin-left: 30px; */
}
.Container {
  /* margin-top: 60px; */
  padding-top: 100px;
  padding-left: 30px;
  display: flex;
  padding-bottom: 20px;
}
.titleInfo {
  color: rgb(233, 189, 140);
  font-size: larger;
  font-weight: bold;
}
.exploreShop {
  display: inline-block;
  width: 33%;
  color: white;
  font-weight: 500;
}
ul {
  list-style: none;
}
li {
  margin-top: 10px;
}
.quote {
  font-family: "Sansita Swashed", system-ui;
}
