.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchBarLarger input {
  width: 500px;
  height: 50px;
  border-radius: 15px;
}
.list-order {
  /* Chiều cao cố định */
  overflow-y: auto; /* Cho phép cuộn dọc */
  scrollbar-width: thin; /* Ẩn thanh cuộn cho Firefox */
  height: 350px;
}

.list-order::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn cho trình duyệt Webkit (Chrome, Safari) */
}
